/* =========================
   NAVBAR
   ========================= */
header {
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #FFF7ED;
}
nav > a {
    text-decoration: none;
    color: inherit;
}
nav a {
    font-weight: 600;
    color: #4D4D4D;
    margin-left: 25px;
}

header>a {
    margin-right: auto;
    margin-left: 0;
    font-size: 1.6rem;
    font-weight: 900;
    color: #000000;
    text-decoration: none;
}
header .login-icon {
    height: 18px;
    width: 18px;
}
header .login-link {
    display: inline-flex;
    align-items: center;
}
/* =========================
   HOME PAGE
========================= */

.hero {
    min-height: calc(100vh - 90px);

    /* ADD YOUR IMAGE HERE */
    background-image: url("./assets/images/home-hero.png");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
}

.hero-content {
    padding: 26px;
    color: white;
}

.hero h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 24px;
    max-width: 520px;
}

.hero p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 520px;
    margin-bottom: 32px;
}

.link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    width: 100%;
    max-width: 520px;
    height: 50px;

    border: none;
    border-radius: 6px;

    background-color: #FF8C38;
    color: white;

    font-size: 1rem;
    font-weight: 700;

    cursor: pointer;
    transition: transform .1s ease-in-out;
}
/* =========================
   ABOUT PAGE
========================= */
.about-link-btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    background-color: #161616;
    color: white;
    border-radius: 10px;
    transition: transform .1s ease-in-out;
}
.about-link-btn:hover, .link-btn:hover {
    transform: translate(1px, 1px);
}
.about-hero-image {

    /* ADD YOUR IMAGE HERE */
    height: 300px;
    background-size: cover;
    background-position: center;
}

.about-page-content {
    padding: 48px 26px;
}

.about-page-content h1 {
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 32px;
}

.about-page-content p {
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 24px;
    color: #161616;
}

.about-page-cta {
    background-color: #FFCC8D;
    padding: 32px;
    border-radius: 8px;
    margin-top: 48px;
}

.about-page-cta h2 {
    font-size: 2rem;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 24px;
}

.about-page-cta button {
    border: none;
    background-color: #161616;
    color: white;

    padding: 14px 26px;
    border-radius: 8px;

    font-size: 1rem;
    font-weight: 700;

    cursor: pointer;
}
/* =========================
   FOOTER
========================= */

footer {
    height: 74px;
    background-color: #252525;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #AAAAAA;
    font-size: 0.9rem;
}
/* =========================
   VANS
========================= */
.van-page-container{
    padding: 2rem;
}
.van-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px 24px;
}

.van-tile img {
    max-width: 100%;
    border-radius: 5px;
}

.van-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}

.van-price span {
    display: block;
    font-size: 0.8rem;
}

.van-type {
    padding: 6px 10px;
    border-radius: 5px;
    color: white;
}

.van-type.simple,
.van-type.rugged,
.van-type.luxury {
    background-color: #FFCC8D;
    color: #4D4D4D;
}

.van-type.simple:hover {
    background-color: #E17654;
}
.van-type.rugged:hover {
    background-color: #115E59;
}
.van-type.luxury:hover {
    background-color: #161616;
}

.vans-links{
    text-decoration: none;
}

.van-list-filter-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
}

.van-list-filter-buttons > button {
    margin-right: 15px;
    font-weight:500;
    font-size: 1rem;
}

.van-type {
    height: 34px;
    padding: 6px 15px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #FFEAD0;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

/* =========================
    VAN DETAIL PAGE
========================= */

.van-detail-page {
    padding: 27px;
    background-color: #FFF7ED;
    color: #161616;
}

/* BACK BUTTON */

.van-detail-back-btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    margin-bottom: 32px;

    color: #201F1D;
    font-size: 0.95rem;
    font-weight: 500;

    text-decoration: none;
}

.van-detail-back-btn:active,
.van-detail-back-btn:hover {
    text-decoration: underline;
}


/* CARD */

.van-detail-card {
    display: flex;
    flex-direction: column;
}

/* IMAGE */

.van-detail-card img {
    width: 100%;
    border-radius: 5px;

    margin-bottom: 48px;
}

/* TYPE BADGE */

.van-detail-type {
    align-self: flex-start;

    padding: 7px 14px;
    border-radius: 5px;

    color: white;

    font-size: 0.9rem;
    font-weight: 600;

    margin-bottom: 22px;
}

.van-detail-type.simple {
    background-color: #E17654;
}

.van-detail-type.rugged {
    background-color: #115E59;
}

.van-detail-type.luxury {
    background-color: #161616;
}

/* NAME */

.van-detail-name {
    font-size: 2rem;
    font-weight: 700;

    line-height: 1.1;

    margin-bottom: 12px;
}

/* PRICE */

.van-detail-price {
    font-size: 1.5rem;
    font-weight: 700;

    margin-bottom: 18px;
}

.van-detail-price span {
    font-size: 1.1rem;
    font-weight: 500;
}

/* DESCRIPTION */

.van-detail-description {
    font-size: 1rem;
    font-weight: 500;

    line-height: 1.6;

    margin-bottom: 28px;
}

/* BUTTON */

.van-detail-rent-btn {
    display: block;

    width: 100%;

    padding: 18px 0;

    border: none;
    border-radius: 5px;

    background-color: #FF8C38;
    color: white;

    font-size: 1rem;
    font-weight: 700;

    text-align: center;
    text-decoration: none;

    cursor: pointer;
}


/* =========================
    HOST VAN PAGE
========================= */

.host-vans-page {
    padding: 26px;
}

.host-vans-title {
    font-size: 2rem;
    font-weight: 700;
    color: #161616;
    margin-bottom: 32px;
}

.host-vans-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.host-van-tile {
    background-color: white;
    border-radius: 6px;
    padding: 15px 20px;

    text-decoration: none;
    color: #161616;

    transition: transform 0.2s ease;
    
}

.host-van-tile>a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}
.host-van-tile:hover {
    transform: scale(1.01);
}

.host-van-tile img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.host-van-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.host-van-info h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #161616;
    margin:0;
    margin-bottom: 20px;
}

.host-van-info p {
    margin:0;
    font-size: 1rem;
    color: #4D4D4D;
}

/* =========================
    HOST VAN DETAIL PAGE
========================= */

.host-van-detail-page {
    padding: 26px;
}

.host-van-detail-back-btn {
    display: inline-block;
    margin-bottom: 32px;

    color: #201F1D;
    font-weight: 500;
    text-decoration: none;
}
.host-van-detail-back-btn:active,
.host-van-detail-back-btn:hover {
    text-decoration:underline;
}

.host-van-detail-container {
    background-color: white;
    border-radius: 6px;
    padding: 24px;
}

.host-van-detail-top {
    display: flex;
    gap: 20px;
    margin-bottom: 26px;
}

.host-van-detail-top img {
    width: 160px;
    border-radius: 5px;
}

.host-van-detail-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.host-van-detail-info h1 {
    font-size: 2rem;
    margin-top: 14px;
    margin-bottom: 10px;
    color: #161616;
}

.host-van-detail-info p {
    font-size: 1.2rem;
    color: #4D4D4D;
}

.host-van-detail-info p span {
    font-weight: 700;
    color: #161616;
}

.host-van-detail-nav {
    display: flex;
    gap: 26px;
    margin-bottom: 28px;
}

.host-van-detail-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
}
/* =========================
   HOST VAN DETAILS
========================= */

.host-van-details {
    margin-top: 28px;
}

.host-van-details p {
    margin-bottom: 18px;

    color: #4D4D4D;

    font-size: 1rem;
    line-height: 1.6;
}

.host-van-details p span {
    font-weight: 700;
    color: #161616;
}
/* =========================
   HOST VAN PRICING PAGE
========================= */

.host-van-pricing {
    margin-top: 32px;
}

.host-van-pricing h2 {
    font-size: 2.2rem;
    font-weight: 500;
    color: #161616;

    display: flex;
    align-items: baseline;
    gap: 4px;
}

.host-van-pricing h2 span {
    font-size: 1.3rem;
    font-weight: 500;
    color: #4D4D4D;
}
/* =========================
   HOST VAN PHOTOS PAGE
========================= */

.host-van-photos {
    margin-top: 32px;
}

.host-van-photos img {
    width: 110px;
    height: 110px;

    object-fit: cover;

    border-radius: 5px;
}

/* =========================
   NOT FOUND  PAGE
========================= */

.not-found-container {
    padding: 50px 26px;
    color: #161616;
    display: flex;
    flex-direction: column;
}

.not-found-container h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 40px;
}

.link-button {
    text-align: center;
    flex: 1;
    background-color: #161616;
    color: white;
    padding: 16px 0;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
}
.link-button:hover{
    text-decoration: underline;
}

/* =========================
        LOGIN
========================= */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 27px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;    
}

.login-form > input {
    border: 1px solid rgba(209, 213, 219);
    height: 40px;
    text-indent: 10px;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 400;
}

.login-form > input:focus {
    outline: none;
}

.login-form > input:first-of-type {
    border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
    border-radius: 0px 0px 6px 6px;
    border-top: none;
}

.login-form > button {
    background-color: #FF8C38;
    border: none;
    border-radius: 6px;
    height: 55px;
    margin-top: 22px;
    color: white;
    font-family: "Inter", sans-serif;
}

.login-error {
    color: red;
}

/* =========================
        DASHBOARD
========================= */

.host-dashboard-earnings {
    background-color: #ffead0;
    padding: 37px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-dashboard-earnings > .info > h1 {
    font-size: 36px;
    color: #161616;
    margin: 0;
}

.host-dashboard-earnings > .info > p {
    color: #4d4d4d;
}

.host-dashboard-earnings > .info > p > span {
    text-decoration: underline;
    font-weight: bold;
}

.host-dashboard-earnings > .info > h2 {
    margin: 0;
    font-size: 38px;
    color: #161616;
    font-weight: 900;
}

.host-dashboard-reviews {
    background-color: #ffddb2;
    padding: 25px 26px;
    display: flex;
    align-items: center;
}

.host-dashboard-reviews > h2 {
    margin: 0;
}

.host-dashboard-reviews .star {
    color: #ff8c38;
    margin-left: 15px;
    font-size: 25px;
}

.host-dashboard-reviews p {
    margin-left: 5px;
    font-size: 20px;
    color: #4d4d4d;
    margin-right: auto;
}

.host-dashboard-reviews p > span {
    font-weight: bold;
    color: #161616;
}

.host-dashboard-vans {
    padding: 38px 26px;
}

.host-dashboard-vans > .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-dashboard-vans .host-vans-list {
    padding-inline: 0;
}
/* =========================
        INCOME
========================= */
.host-income {
    padding-inline: 26px;
    color: #161616;
}

.host-income > p {
    color: #4d4d4d;
}

.host-income > p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income > h2 {
    font-size: 38px;
    color: #161616;
    font-weight: 900;
}

img.graph {
    width: 100%;
    max-width: 500px;
}

.host-income .info-header > p {
    color: #4d4d4d;
}

.host-income .info-header > p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-income .info-header > h3 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 60px;
}

.host-income .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 31px;
    padding: 35px 29px;
    border-radius: 6px;
}
.host-income .transaction > h3 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}

.host-income .transaction > p {
    font-weight: 500;
    font-size: 20px;
    color: #4d4d4d;
}
/* =========================
        REVIEWS
========================= */
.host-reviews {
    padding-inline: 26px;
    color: #161616;
}

.host-reviews .top-text {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.host-reviews .top-text > h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    margin-right: 20px;
}

.host-reviews .top-text > p {
    margin: 0;
    color: #4d4d4d;
}

.host-reviews .top-text > p span {
    text-decoration: underline;
    font-weight: bold;
}

.host-reviews > img {
    margin-bottom: 36px;
}

.host-reviews .review {
    margin-block: 25px;
}

.host-reviews .review .info {
    display: flex;
}

.host-reviews .review .name {
    color: #161616;
    margin-right: 10px;
    font-weight: 600;
}

.host-reviews .review .date {
    color: #8c8c8c;
}

.host-reviews hr {
    background-color: #c7c7c7;
    height: 1px;
    border: 0;
}

.host-reviews .review-star {
    color: #ff8c38;
    margin-right: 5px;
}
